* {
  box-sizing: border-box;
}

.table button {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.menu button {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}

.columns {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

.footer{
  background-color:#e5e5e5;
  text-align:center;
  padding:10px;
  margin-top:7px;
  position: fixed;
  width: 100%;
  bottom:0;
  left: 0;
}

@media only screen and (max-width:800px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
